node_modules
.DS_Store
dist
dist-ssr
*.log
package-lock.json
yarn.lock
pnpm-lock.yaml
*.tmp
temp/
app/node_modules
app/dist
app/dist-ssr
app/.vite
app/.turbo
app/.tauri
app/src-tauri/target
app/src-tauri/gen
server/node_modules
server/dist

